html {
    overflow: auto;
}

body {
	background-color: #333333;
	color: white;
	font-family: Helvetica;
	font-size: 11px;

    padding: 10px; 
	overflow-y: auto;
    overflow-x: hidden;
}

a {
	color: white;
}

a:hover {
	color: #00b0f0;
}

/* Image tag as buttons */
.img_button {
	border-radius: 6px;
	-moz-box-shadow:    0 0 10px 0 #202020;
	-webkit-box-shadow: 0 0 10px 0 #202020;
	box-shadow:         0 0 10px 0 #202020;
}

.img_button:hover {
	background-color: #f08800;
}