body {
	font-family: Verdana;
	margin: 0px;
	background-color: #444444;
	color: #EEEEEE;
}

.service_header_row {
	background-color: #000000;
	border: 1px solid #00BBFF;
}

.service_row {
	background-color: #0077DD;
	border-top: 1px dotted #0033DD;
}

.service_done {
	text-align: center;
	background-color: #00CC00;
	color: #0000000;
	font-size: 12px;
}
.service_in_progress {
	text-align: center;
	background-color: #CCAA00;
	font-size: 12px;
}
.service_pending {
	text-align: center;
	background-color: #CC0000;
	font-size: 12px;
}

#title {
	color: #FFFFFF;
	font-size: 25px;
	padding: 25px;
}

.dropshadow {
	border-collapse:collapse;
	-moz-border-radius:0 0 120px 120px / 10 10 10px 10px;    
	border-radius:0 0 120px 120px / 0 0 6px 6px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);
}

input {
	font-size: 13px;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	width: 96px;
	border: 1px solid #0044AA;
}

button { 
	background: #0044AA;
	padding: 5px;
	border: 0px;
	color: #444444;
	width: 64px;
}

input:hover {
	background: orange;
}
